.App {
  text-align: center;
  min-height: 120vh;
}

a {
  color: rgb(210, 210, 210);
  border: 1px rgb(209, 209, 209) solid;
  height: 35px;
  width: 55px;
  font-size: 25px;
  font-family: 'Odibee Sans', cursive;
  padding: 5px 5px 0px 5px;
}

.head {
  height: 386px;
  width: 100vw;
}

#head-bar {
  height: 65px;
  width: 100vw;
  background-color: rgb(54, 49, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 70px
}

#logo {
  height: 45px;
  width: 120px;
  border: 1px rgb(209, 209, 209) solid;
  color: rgb(210, 210, 210);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Odibee Sans', cursive;
}

#link-container {
  height: 35px;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



